.btn {
  min-width: 127px;
  min-height: 45px;
  padding: 14px 27px;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 15px;
  background-color: transparent;
  border: 1px solid transparent;
}
/* Heroo button */
.btn-hero {
  /* #050505; */
  color: var(--primary-text-color);
  /* #9bb537 */
  border-color: var(--secondary-bg-color);
}

@media (hover: hover) {
  .btn-hero:hover,
  .btn-hero:focus,
  .btn-all-categories:hover,
  .btn-all-categories:focus {
    /* #f8f8f8 */
    color: var(--description-text-color);

    /* #9bb537 */
    background-color: var(--secondary-bg-color);
  }
}
@media not (hover: hover) {
  .btn-hero:active {
    /* #f8f8f8 */
    color: var(--description-text-color);

    /* #9bb537 */
    background-color: var(--secondary-bg-color);
  }
}

.btn-favorites {
  width: 156px;

  /* #f8f8f8 */
  color: var(--description-text-color);

  /* #9bb537 */
  background-color: var(--secondary-bg-color);
}
@media (hover: hover) {
  .btn-favorites:hover,
  .btn-favorites:focus {
    /* color: #050505; */
    color: var(--primary-text-color);
    /* background-color: #9bb537; */
  }
}
@media not (hover: hover) {
  .btn-favorites:active {
    /* #050505; */
    color: var(--primary-text-color);
    /* background-color: #9bb537; */
  }
}

.btn-all-categories {
  width: 174px;
  height: 50px;
  font-size: 18px;
  /*  #050505; */
  color: var(--primary-text-color);
  /* #9bb537 */
  border-color: var(--secondary-bg-color);
}
