.btn {
  min-width: 127px;
  min-height: 45px;
  padding: 14px 27px;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 15px;
  background-color: transparent;
  border: 1px solid transparent;
}
/* Heroo button */
.btn-hero {
  /* #050505; */
  color: var(--primary-text-color);
  /* #9bb537 */
  border-color: var(--secondary-bg-color);
}

@media (hover: hover) {
  .btn-hero:hover,
  .btn-hero:focus,
  .btn-all-categories:hover,
  .btn-all-categories:focus {
    color: var(--description-text-color);

    background-color: var(--secondary-bg-color);
  }
}
@media not (hover: hover) {
  .btn-hero:active {
    color: var(--description-text-color);

    background-color: var(--secondary-bg-color);
  }
}

.btn-favorites {
  width: 156px;
  color: var(--description-text-color);
  background-color: var(--secondary-bg-color);
}
@media (hover: hover) {
  .btn-favorites:hover,
  .btn-favorites:focus,
  .btn-send:hover,
  .btn-send:focus {
    color: var(--primary-text-color);
  }
}
@media not (hover: hover) {
  .btn-favorites:active,
  .btn-send:active {
    color: var(--primary-text-color);
  }
}

.btn-all-categories {
  width: 174px;
  height: 50px;
  font-size: 18px;

  color: var(--primary-text-color);

  border-color: var(--secondary-bg-color);
}

.btn-send {
  width: 295px;
  height: 46px;
  color: var(--description-text-color);
  border-color: var(--secondary-bg-color);
  background-color: var(--secondary-bg-color);
}
