<section class="heder"></section>
<section class="hero container">
  <div class="div-hero">
    <div class="hero-title-div">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-tasty">Tasty Treats' </span> Customizable
        Masterclass
      </h1>
      <p class="hero-message">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <load
        src="partials/components/button.html"
        btn-class="btn-hero"
        btn-type="button"
        btn-text="Order now"
      />
      <!-- <load
        src="partials/button.html"
        btn-class="btn-favorites"
        btn-type="button"
        btn-text="Add to favorite"
      /> -->
      <!-- <load
        src="/partials/components/button.html"
        btn-class="btn-all-categories"
        btn-type="button"
        btn-text="All categories"
      /> -->
      <!-- <load src="/src/partials/components/button.html" /> -->
      <!-- <button type="button" class="btn-hero" data-modal-open>
        Order Service
      </button> -->
    </div>
    <!-- <div class="hero-slider"></div> -->
    <div class="swiper-container">
      <div class="swiper-wrapper hero-slider">
        <!-- //!!!!!!!!!!!! -->

        <div class="swiper-slide hero-container">
          <div class="hero-container">
            <div class="hero-img-cook-div hero-img-srink">
              <img
                class="hero-cook-img"
                src="https://tasty-treats-backend.p.goit.global/HestonChan.png"
                alt="Heston Chan"
              />
            </div>
            <div class="hero-img-div hero-img-srink">
              <img
                class="hero-tried-img"
                src="https://tasty-treats-backend.p.goit.global/previewDish1.png"
                alt="Grilled, smoky, delicious barbecue"
              />
              <h2 class="hero-name-treat">
                Grilled, smoky, delicious barbecue
              </h2>
              <p class="hero-country-treat">ITALI</p>
            </div>
            <div class="hero-img-div-fill hero-img-srink">
              <img
                class="hero-tried-img-flll"
                src="https://tasty-treats-backend.p.goit.global/imgDish1.png"
                alt="Grilled, smoky, delicious barbecue"
              />
            </div>
          </div>
        </div>
        <!--       <div class="swiper-slide hero-container">
              <div class="hero-slider-cook-img">
                <img
                  class="hero-cook-img"
                  src="https://tasty-treats-backend.p.goit.global/AnaSmyth.png"
                  alt="Ana Smyth"
                />
              </div>
              <div class="hero-slider-img">
                <img
                  class="hero-tried-img"
                  src="https://tasty-treats-backend.p.goit.global/previewDish2.png"
                  alt="Hot, cheesy and satisfying pizza"
                />
                <p class="hero-name-treat">Hot, cheesy and satisfying pizza</p>
              </div>
              <div class="hero-slider-img-fill">
                <img
                  class="hero-tried-img"
                  src="https://tasty-treats-backend.p.goit.global/previewDish2.png"
                  alt="Hot, cheesy and satisfying pizza"
                />
              </div>
            </div>
            <div class="swiper-slide hero-container">
              <div class="hero-slider-cook-img">
                <img
                  class="hero-cook-img"
                  src="https://tasty-treats-backend.p.goit.global/FerranMeyer.png"
                  alt="Ferran Meyer"
                />
              </div>
              <div class="hero-slider-img">
                <img
                  class="hero-tried-img"
                  src="https://tasty-treats-backend.p.goit.global/previewDish3.png"
                  alt="Fluffy and sweet pancakes"
                />
                <p class="hero-name-treat">Fluffy and sweet pancakes</p>
              </div>
              <div class="hero-slider-img-fill">
                <img
                  class="hero-tried-img"
                  src="https://tasty-treats-backend.p.goit.global/previewDish3.png"
                  alt="Fluffy and sweet pancakes"
                />
              </div>
            </div> -->
        <!-- //!!!!!!!!!!!! -->
      </div>
    </div>
  </div>
</section>
