<section class="heder container"></section>
<section class="hero container">
  <!-- <div class="div-hero"> -->
  <div class="hero-title-div">
    <h1 class="hero-title">
      Learn to Cook
      <span class="hero-title-tasty">Tasty Treats' </span> Customizable
      Masterclass
    </h1>
    <p class="hero-message">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <load
      src="partials/components/button.html"
      btn-class="btn-hero"
      btn-type="button"
      btn-text="Order now"
    />
    <!-- <load
        src="partials/components/button.html"
        btn-class="btn-favorites"
        btn-type="button"
        btn-text="Add to favorite"
      /> -->
    <!-- <load
        src="/partials/components/button.html"
        btn-class="btn-all-categories"
        btn-type="button"
        btn-text="All categories"
      /> -->
    <!-- <load src="/src/partials/components/button.html" /> зроби якісь зміни -->
    <!-- <button type="button" class="btn-hero" data-modal-open>
        Order Service
      </button> -->
  </div>
  <!-- <div class="hero-slider"></div> -->
  <div class="swiper swiper-hero hero-push-buton">
    <!-- <div class="swiper-wrapper hero-slider"> -->
    <div class="swiper-wrapper">
      <!-- //!!!!!!!!!!!! -->

      <!-- //!!!!!!!!!!!! -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- </div> -->
</section>
