<section class="heder container"></section>
<section class="hero container">
  <!-- <div class="div-hero"> -->
  <div class="hero-title-div">
    <h1 class="hero-title">
      Learn to Cook
      <span class="hero-title-tasty">Tasty Treats' </span> Customizable
      Masterclass
    </h1>
    <p class="hero-message">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <load
      src="partials/components/button.html"
      btn-class="btn-hero"
      btn-type="button"
      btn-text="Order now"
    />
    <!-- <load
        src="partials/components/button.html"
        btn-class="btn-favorites"
        btn-type="button"
        btn-text="Add to favorite"
      /> -->
    <!-- <load
        src="/partials/components/button.html"
        btn-class="btn-all-categories"
        btn-type="button"
        btn-text="All categories"
      /> -->
    <!-- <load src="/src/partials/components/button.html" /> -->
    <!-- <button type="button" class="btn-hero" data-modal-open>
        Order Service
      </button> -->
  </div>
  <!-- <div class="hero-slider"></div> -->
  <div class="swiper swiper-hero hero-push-buton">
    <!-- <div class="swiper-wrapper hero-slider"> -->
    <div class="swiper-wrapper">
      <!-- //!!!!!!!!!!!! -->
      <!-- Slide 1 -->
      <div class="swiper-slide image-slider_image">
        <!-- image 1 -->
        <div class="hero-container">
          <div class="hero-img-cook-div hero-img-srink">
            <img
              class="hero-cook-img"
              src="https://tasty-treats-backend.p.goit.global/HestonChan.png"
              alt="Heston Chan"
            />
          </div>
          <!-- image 2 -->
          <div class="hero-img-div hero-img-srink">
            <img
              class="hero-tried-img"
              src="https://tasty-treats-backend.p.goit.global/previewDish1.png"
              alt="Grilled, smoky, delicious barbecue"
            />
            <h2 class="hero-name-treat">Grilled, smoky, delicious barbecue</h2>
            <p class="hero-country-treat">ITALI</p>
          </div>
          <!-- image 3 -->
          <div class="hero-img-div-fill hero-img-srink">
            <img
              class="hero-tried-img-flll"
              src="https://tasty-treats-backend.p.goit.global/imgDish1.png"
              alt="Grilled, smoky, delicious barbecue"
            />
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide image-slider_image">
        <!-- image 1 -->
        <div class="hero-container">
          <div class="hero-img-cook-div hero-img-srink">
            <img
              class="hero-cook-img"
              src="https://tasty-treats-backend.p.goit.global/AnaSmyth.png"
              alt="Ana Smyth"
            />
          </div>
          <!-- image 2 -->
          <div class="hero-img-div hero-img-srink">
            <img
              class="hero-tried-img"
              src="https://tasty-treats-backend.p.goit.global/previewDish2.png"
              alt="Hot, cheesy and satisfying pizza"
            />
            <h2 class="hero-name-treat">Hot, cheesy and satisfying pizza</h2>
            <p class="hero-country-treat">ITALI</p>
          </div>
          <!-- image 3 -->
          <div class="hero-img-div-fill hero-img-srink">
            <img
              class="hero-tried-img-flll"
              src="https://tasty-treats-backend.p.goit.global/imgDish2.png"
              alt="Hot, cheesy and satisfying pizza"
            />
          </div>
        </div>
      </div>
      <!-- Slide 3-->
      <div class="swiper-slide image-slider_image">
        <!-- image 1 -->
        <div class="hero-container">
          <div class="hero-img-cook-div hero-img-srink">
            <img
              class="hero-cook-img"
              src="https://tasty-treats-backend.p.goit.global/FerranMeyer.png"
              alt="Ferran Meyer"
            />
          </div>
          <!-- image 2 -->
          <div class="hero-img-div hero-img-srink">
            <img
              class="hero-tried-img"
              src="https://tasty-treats-backend.p.goit.global/previewDish3.png"
              alt="Fluffy and sweet pancakes"
            />
            <h2 class="hero-name-treat">Fluffy and sweet pancakes</h2>
            <p class="hero-country-treat">ITALI</p>
          </div>
          <!-- image 3 -->
          <div class="hero-img-div-fill hero-img-srink">
            <img
              class="hero-tried-img-flll"
              src="https://tasty-treats-backend.p.goit.global/imgDish3.png"
              alt="Fluffy and sweet pancakes"
            />
          </div>
        </div>
      </div>
      <!-- //!!!!!!!!!!!! -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- </div> -->
</section>
