<!-- modal window add rating -->
<div class="modal-rating-backdrop is-hidden">
  <div class="modal-rating-window">
    <button type="button" class="modal-rec-close" data-modal-rec-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <h4 class="modal-rating-text">Rating</h4>
    <div class="js-modal-rating">
      <h3 class="modal-rating-number">0.0</h3>
      <!-- radiobutton -->
    </div>
    <form action="submit" class="modal-rating-form">
      <input
        type="text"
        name="modal-rating-input"
        id="modal-rating-input"
        placeholder="Enter email"
      />
      <button class="modal-rec-btn modal-rating-btn-send">Send</button>
    </form>
  </div>
</div>
