<!-- modal window add rating -->
<div class="modal-rating-backdrop">
  <div class="modal-rating-window">
    <button type="button" class="modal-rating-close">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <form action="submit" class="js-modal-rating-form">
      <p class="modal-rating-text">Rating</p>
      <div class="modal-rating-flex">
        <p class="modal-rating-number">0.0</p>
        <div class="js-modal-rating-stars" name="radiostars">
          <label class="star-radio-label">
            <input class="star-radio" type="radio" name="stars-qnt" value="1" />
            <svg class="rating-icon" width="24" height="24">
              <use href="./img/recipes.svg#icon-Star"></use>
            </svg>
          </label>
          <label class="star-radio-label">
            <input class="star-radio" type="radio" name="stars-qnt" value="2" />
            <svg class="rating-icon" width="24" height="24">
              <use href="./img/recipes.svg#icon-Star"></use>
            </svg>
          </label>
          <label class="star-radio-label">
            <input class="star-radio" type="radio" name="stars-qnt" value="3" />
            <svg class="rating-icon" width="24" height="24">
              <use href="./img/recipes.svg#icon-Star"></use>
            </svg>
          </label>
          <label class="star-radio-label">
            <input class="star-radio" type="radio" name="stars-qnt" value="4" />
            <svg class="rating-icon" width="24" height="24">
              <use href="./img/recipes.svg#icon-Star"></use>
            </svg>
          </label>
          <label class="star-radio-label">
            <input class="star-radio" type="radio" name="stars-qnt" value="5" />
            <svg class="rating-icon" width="24" height="24">
              <use href="./img/recipes.svg#icon-Star"></use>
            </svg>
          </label>
        </div>
      </div>
      <div class="modal-rating-input-flex">
        <input
          class="modal-rating-input"
          type="email"
          name="input"
          id="modal-rating-input"
          placeholder="Enter email"
        />
        <button type="submit" class="modal-rec-btn modal-rating-btn-send">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
