<!-- modal window recipe -->
<div class="modal-rec-backdrop is-hidden">
  <div class="modal-rec-window">
    <button type="button" class="modal-rec-close">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <div class="js-modal-rec"></div>
    <button class="modal-rec-btn modal-rec-btn-add">Add to favorite</button>
    <button class="modal-rec-btn modal-rec-btn-rating">Give a rating</button>
  </div>
</div>
