<div class="backdrop-ordernow is-hidden" data-modal-overnow>
  <div class="modal-ordernow">
    <button type="button" class="close-modwin-btn" data-modal-close>
      <svg class="close-modwin-icon" width="20" height="20">
        <use href="../img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <!-- <fieldset>
          <legend>Leave your contacts and we will call you back</legend> -->
    <strong class="mod-title">ORDER NOW</strong>
    <form name="subscreibe_mod">
      <label class="name-mod-label" for="name-mod">Name</label>

      <div class="wrap-div-iconsvg">
        <input
          class="name-mod-inp mod-inp"
          type="text"
          name="name-mod"
          id="name-mod"
          autofocus
        />
      </div>

      <label class="tel-mod-label" for="tel-mod">Phone</label>
      <div class="wrap-div-iconsvg">
        <input class="tel-mod mod-inp" type="tel" name="tel-mod" id="tel-mod" />
      </div>

      <label class="email-mod-label mod-label" for="email-mod">Email</label>
      <div class="wrap-div-iconsvg">
        <input class="email-mod mod-inp" type="email" id="email-mod" />
      </div>
      <label class="comment-mod-label mod-label" for="comment">Comment</label>
      <textarea
        class="mod-txtar-com mod-inp"
        name="comment-mod"
        id="comment"
        cols="30"
        rows="10"
        placeholder="Text input"
      ></textarea>
      <!-- visually-hidden -->

      <button type="submit" class="btn-hero" data-modal-open>Send</button>
    </form>
    <!-- </fieldset> -->
  </div>
</div>
