<div class="ordernow-backdrop">
  <div class="ordernow-window">
    <button type="button" class="ordernow-close" data-modal-rec-close></button>
    <div class="ordernow-rec"></div>
    <!-- Navigation -->
    <ul class="inp-ordernow-list list">
      <li class="inp-ordernow-item">
        <label for="emailOrdernow">
          <input type="email" name="emailOrdernow" id="emailOrdernow" />
        </label>
      </li>
      <li class="nav-item">
        <label for="telOrdernow">
          <input type="tel" name="telOrdernow" id="telOrdernow" />
        </label>
      </li>
    </ul>
  </div>
</div>
