.visually-hidden {
  /*cкриваємо правильно заголовки*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 1110px) {
  .container {
    max-width: 1110px;

    padding: 0 15px 0 15px;
  }
}
.container-hero {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container-hero {
    max-width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 1110px) {
  .container-hero {
    max-width: 1110px;

    padding: 0 0 0 15px;
  }
}
