/* Basic styles */
.header {
  min-width: 320px;
  max-width: 375px;
  padding: 28px 20px;
}

@media only screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 28px 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    padding: 40px 100px;
  }
}

.list {
  text-decoration: none;
  list-style: none;
}

/* header styles */

.nav-list {
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-link {
  text-decoration: blink;
  color: #050505;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link:hover,
.nav-link:focus {
  color: #9bb537;
}

.logo-header {
  color: #9bb537;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .logo-header {
    position: absolute;
    left: 50%;
  }
}

.logo-header-span {
  color: #050505;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.64px;
  /* margin: 0px; */
}

.header-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
  border: none;
  outline: none;
}

.icon-burger {
  stroke: #050505;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.cart {
  display: flex;
  margin-top: 2px;
  stroke: #050505;

  cursor: pointer;
}

.icon-switch {
  display: none;
}

@media only screen and (min-width: 768px) {
  .icon-switch {
    display: flex;
    width: 56px;
    height: 30px;
    box-shadow: #050505;
  }
}

.cart-switch {
  gap: 18px;
  position: absolute;
  top: 26px;
  right: 66px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .cart-switch {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 56px;
    height: 30px;
  }
}

/* Modal 

.burger-menu {
  background: #9bb537;
  width: 80%;
  height: 1000%;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 28px;
  right: 28px;
  stroke-width: 2px;
  stroke: #f8f8f8;
  width: 16px;
  height: 16px;
}

.id-menu-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.id-burger-menu {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.js-close-menu {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  fill: #f8f8f8;
  border: none;
  outline: none;
}
*/
