/* Basic styles */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: 65px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
  }
}
.swith-header {
  padding-bottom: 15px;
}

/* header styles */
.btn-cart-header {
  border: none;
  background-color: var(--primary-bg-color);
}
.nav-list {
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-link {
  text-decoration: blink;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-bg-color);
}

.logo-header {
  color: var(--secondary-bg-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .logo-header {
    position: absolute;
    left: 50%;
    top: 0;
  }
}

.logo-header-span {
  color: var(--primary-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.64px;
}

.header-logo-container {
  display: flex;
  align-items: center;

  column-gap: 203px;
  position: relative;
}

.burger-menu {
  background-color: transparent;
  position: absolute;
  right: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-burger {
  stroke: var(--primary-text-color);
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.cart {
  display: flex;
  margin-top: 2px;
  stroke: var(--primary-text-color);
  fill: var(--primary-bg-color);
}

.icon-switch {
  display: none;
}

@media only screen and (min-width: 768px) {
  .icon-switch {
    display: flex;
    width: 56px;
    height: 30px;
    box-shadow: var(--primary-text-color);
  }
}

.cart-switch {
  gap: 18px;
  position: absolute;
  right: 66px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .cart-switch {
    position: absolute;
    right: 32px;
  }
}

/* Modal */

.id-menu-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.id-burger-menu {
  color: var(--primary-bg-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
