.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;

  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 0.4s ease;

  overflow-y: scroll;
}
.mobile-menu-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu-window {
  position: absolute;
  z-index: 100;
  left: calc((100% - 0px) / 2);
  transform: translate(-50%) scale(1);
  transition: transform 0.4s ease;
  width: 200px;
  min-height: 600px;
  height: 100%;
  padding-top: 200px;
  padding-left: 73px;
  background: var(--secondary-bg-color);
}

.mob-menu-close {
  padding: 0;

  position: absolute;
  /* z-index: 10; */
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-color: var(--secondary-bg-color);
  border: none;
}

.mob-menu-svg {
  stroke: var(--primary-bg-color);
}
.nav-item-mob-menu {
  margin-bottom: 16px;
}
.nav-link-mob-menu {
  color: var(--primary-bg-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.icon-switch-mob-menu {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
