.modal-rec-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;

  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;

  overflow-y: scroll;
}

.modal-rec-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-rec-window {
  z-index: 100;
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translate(-50%) scale(1);
  transition: opacity 300ms linear, visibility 300ms linear;

  width: 531px;
  min-height: 600px;
  padding: 32px;
  border-radius: 15px;
  background: var(--primary-bg-color);
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .modal-rec-window {
    top: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .modal-rec-window {
    max-width: 335px;
    padding: 40px 20px;
    top: 2000px;
  }
}

.modal-rec-close {
  padding: 0;
  border: none;
  background-color: var(--primary-bg-color);

  position: absolute;
  z-index: 10;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.modal-close-icon {
  stroke: var(--primary-text-color);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: var(--secondary-bg-color);
}

.modal-rec-title {
  color: var(--primary-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 122.2%;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.modal-rec-img {
  width: 467px;
  height: 250px;
  margin-bottom: 16px;

  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(5, 5, 5, 0.4) 0%,
      rgba(5, 5, 5, 0.4) 100%
    ),
    lightgray -34.64px -20px / 109.993% 120% no-repeat;
}

@media screen and (max-width: 768px) {
  .modal-rec-img {
    width: 295px;
    height: 295px;
    margin-top: 6px;
    margin-bottom: 20px;
  }
}

.recipe-img {
  width: 467px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .recipe-img {
    width: 295px;
    height: 295px;
  }
}

.modal-rec-flex {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin-bottom: 32px;
  align-items: center;
}

.modal-rec-tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  gap: 4px;
  margin-right: auto;

  color: var(--primary-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.7%;
}

@media screen and (max-width: 768px) {
  .modal-rec-tags {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}

.modal-rec-tag-text {
  color: var(--primary-text-color) 5;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.7%;

  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 35px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.modal-rec-rating {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .modal-rec-rating {
    margin-bottom: 32px;
  }
}

.modal-rec-rat-stars {
  display: flex;
  gap: 1px;
}

.modal-star-icon {
  fill: var(--star-bg-color);
  stroke: var(--star-bg-color);
}

.modal-rec-rat-text,
.modal-rec-rat-time {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.6%;
}

.modal-rec-ingr {
  margin-bottom: 32px;
}

.modal-rec-ingr-one {
  display: flex;
}

.modal-rec-ingr-line {
  width: 467px;
  height: 0px;
  border: 1px solid rgba(5, 5, 5, 0.1);

  margin: 9px 0 7px;
}

@media screen and (max-width: 768px) {
  .modal-rec-ingr-line {
    width: 295px;
  }
}

.modal-rec-ingr-name {
  color: var(--primary-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.6%;

  margin-right: auto;
}

.modal-rec-ingr-qnt {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.6%;

  margin-left: auto;
}

.modal-rec-instr {
  margin-bottom: 32px;

  color: rgba(5, 5, 5, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.6%;
}

@media screen and (max-width: 768px) {
  .modal-rec-instr {
    margin-bottom: 40px;
  }
}

.modal-rec-btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 14px 28px;
  border-radius: 15px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .modal-rec-btn {
    padding: 12px 24px;
  }
}

.modal-rec-btn-add {
  color: var(--description-text-color);
  background: var(--secondary-bg-color);
  border: 0px;
  margin-right: 10px;
}

.modal-rec-btn-add:hover,
.modal-rec-btn-add:focus {
  color: var(--primary-text-color);
}

@media screen and (max-width: 768px) {
  .modal-rec-btn-add {
    margin-right: 8px;
  }
}

.modal-rec-btn-rating {
  color: var(--primary-text-color);
  border: 1px solid var(--secondary-bg-color);
}

.modal-rec-btn-rating:hover,
.modal-rec-btn-rating:focus {
  color: var(--description-text-color);
  background: var(--secondary-bg-color);
}
