.recipes-section {
  padding: 20px 40px;
}

/* FILTER */

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.search-input {
  width: 278px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 14px 0;
  padding-left: 18px;
  display: block;
}

.search-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
}

.form-label {
  position: relative;
}

.clean-search {
  border: none;
  padding: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  stroke: black;
}

.search-input:placeholder-shown + .clean-search {
  display: none;
}

.filter-txt {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  color: rgba(5, 5, 5, 0.5);
  padding-bottom: 8px;
}

.reset-filter-icon {
  stroke: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CUSTOM SELECT */
/* .custom-select-container {
  color: #050505;
} */

span.custom-select-container,
span.custom-select-opener {
  color: rgba(5, 5, 5, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  background-color: #fff;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;

  border-radius: 15px;
  outline: 1px solid rgba(5, 5, 5, 0.2);
}

.custom-select-panel {
  border-radius: 15px;
}

.custom-select-option.is-open .custom-select-panel {
  outline: 1px solid rgba(5, 5, 5, 0.2);
}

div.custom-select-option {
  color: rgba(5, 5, 5, 0.5);
}

div.custom-select-option,
div.custom-select-option.is-selected,
div.custom-select-option.has-focus {
  background-color: var(--primary-bg-color);
}

div.custom-select-option.is-selected,
div.custom-select-option.has-focus {
  color: var(--primary-text-color);
}

.select-time,
.select-area {
  width: 160px;
}

.select-ingredients {
  width: 188px;
}

.reset-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.reset-filter-icon {
  stroke: var(--secondary-bg-color);
}
