/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./container.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./categories.css');
@import url('./popular.rec.css');
@import url('./recipes.css');
@import url('./modal-rec.css');
@import url('./modal-rating.css');
@import url('./mobile-menu.css');
@import url('./favorites.css');
@import url('./vite-promo.css');

@import url('./components/button.css');

/* підключення шрифтів */

@font-face {
  font-family: 'Inter';
  font-style: normal, italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('ttf');
}

:root {
  --primary-text-color: #050505;
  --primary-bg-color: #ffff;
  --secondary-bg-color: #9bb537;
  --non-active-text-color: #05050580;
  --description-text-color: #f8f8f8;
  --star-bg-color: #eea10c;
  --area-color: #f8f8f833;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .wrapper-all {
    display: flex;
    /* gap: 15px; */
  }
}

@media screen and (min-width: 1110px) {
  .wrapper-all {
    display: flex;
    /* gap: 15px; */
  }
}